/*das ist css für den Header*/
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.custom-header {
    background-color: #7DD8FF;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding: 30px;
    width: 100%; /* Header auf volle Breite des Viewports */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Maximale Breite des Header-Inhalts festlegen */
    margin: 0 auto; /* Zentrierung des Inhalts im Header */
}

.logo {
    width: 300px;
    height: auto;
    margin-left: -70px;
}

.menu {
    display: flex;
    justify-content: flex-end; /* Elemente rechtsbündig ausrichten */
}

.menu a {
    margin-left: 20px; /* Abstand zwischen den Menüpunkten */
    text-decoration: none;
    color: black;
}
.logo {
    style="width: 400px;"
}


/*für über uns seite*/
/*Brücke zwischen Generationen schlagen*/
.Text1
{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1500px;
        height: 30px;
        color: #000000;
        font-size: 30px;
        border-radius: 10px;
        margin-top: 90px;
    margin-bottom: 40px; /* Beispiel: Abstand nach unten */
}

/*content nach Brücke*/
.content1 {
    margin-left: 60px; /* Abstand von der linken Seite */
    margin-right: 60px;
    max-width: none;
    font-size: 28px;
text-align: left; /* Links ausrichten */
  }

/*Mission*/
.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 120px);
    height: 50px;
    background-color: #7DD8FF;
    color: #000000;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid #fff; /* Optional border */
    margin: 50px auto; /* Centering the frame */
    font-weight: bold;
  }
  
/*content für mission*/
.content {
  margin-left: 60px; /* Abstand von der linken Seite */
  margin-right: 60px;
}
.content p {
  text-align: left; /* Links ausrichten */
}

/*Button unsere Choachingsangebote*/
.frame-frame2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 60px;
  background-color: #0071F6;
  color: #fff;
  font-size: 20px;
  border-radius: 8px;
  border: 2px solid #fff; /* Optional border */
  margin-left: 580px;
  text-align: center;
}

.unserewerte {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 120px);
    height: 50px;
    background-color: #7DD8FF;
    color: #000000;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid #fff; /* Optional border */
    margin: 50px auto; /* Centering the frame */
    font-weight: bold;
  }

  /*Text unter Werte*/
  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: auto;
    margin: auto;
    padding: 20px;
    align-items:center
  }
  
  .column {
    width: 33.33%;
    box-sizing: border-box;
    padding: 10px;
    margin-right: 20px; /* Fügt Abstand zum rechten Rand hinzu */
    margin-left: 20px;
  }
  
  /* Stile für Texte in den Spalten */
  .column p:first-child {
    font-weight: bold;
    margin-bottom: auto;
  }
  
  .column p:last-child {
    margin-top: auto;
  }

  /*überschrifte der werte in der richtigen farbe*/
  .title {
    color: #ED2424;
  }
  .title2 {
    color: #ED2424;
  }
  .title3 {
    color: #ED2424;
  }
  .title4 {
    color: #0119F3
  }
  .title5 {
   color:#0119F3 
  }
  .title6 {
    color:#FFC700
  }

  /* Stile für Bilder */
  .column img {
    width: auto;
    height: auto;
    margin-bottom: auto;
    
  }

  .buttonkundenrezensionen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 60px;
    background-color: #0071F6;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid #fff; /* Optional border */
    margin-left: 580px;
    text-align: center;
  }

  .team {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 120px);
        height: 50px;
        background-color: #7DD8FF;
        color: #000000;
        font-size: 20px;
        border-radius: 8px;
        border: 2px solid #fff; /* Optional border */
        margin: 50px auto; /* Centering the frame */
        font-weight: bold;
      }
  .unserteamtext{
        margin-left:60px; /* Abstand von der linken Seite */
        margin-right: 60px;
        max-width: none;
        font-size: 17px;
    text-align: left; /* Links ausrichten */ 
  }


  .container { /*vorstellund von team text und bilder*/
    display: flex;
    align-items: flex-start; /* Spalten am Anfang ausrichten */
    flex-wrap: wrap; /* Umbruch, um zwei Zeilen zu ermöglichen */
  }
  
  .column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Inhalt am Anfang ausrichten */
  }
  
  .content33 {
    margin-bottom: 20px;
    flex: 1;
    font-size: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .kontaktiere {
        margin-left: 300px; /* Abstand zum letzten Bild in der zweiten Spalte */
        margin-top: 400px;
        padding-bottom: 300px;
        align-self: flex-start; /* Text auf gleiche Höhe wie Bild in erster Spalte ausrichten */
         display: flex;
            padding: 15px 20px; /* Innenabstand anpassen */
            background-color: #0071F6;
            color: #fff;
            font-size: 16px;
            border-radius: 8px;
            text-decoration: none; /* Entfernt die Standard-Textunterstreichung */
            transition: background-color 0.3s ease; /* Übergang für Hover-Effekt */
          }

.story {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 120px);
    height: 50px;
    background-color: #7DD8FF;
    color: #000000;
    font-size: 40px;
    border-radius: 8px;
    border: 2px solid #fff; /* Optional border */
    margin: 50px auto; /* Centering the frame */
    font-weight: bold;
}
.storytext {
    display: flex;
    align-items:center; /* Elemente vertikal zentrieren */
    justify-content: flex-end; /* Inhalt nach rechts ausrichten */
    padding-right: 80px; /* Zusätzlicher Platz auf der rechten Seite */
font-size: 30px;
}

.image img {
    max-width: 100%; /* Bildbreite auf die maximale Breite des Elternelements beschränken */
    height: auto; /* Automatische Höhe basierend auf dem Seitenverhältnis beibehalten */
    margin-right: 20px; /* Abstand zwischen Bild und Text */
    margin-left: 60px;
}

.untertextstory {
    flex: 1; /* Nimmt den verfügbaren Platz ein */
}
.kurs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 120px);
    height: 50px;
    background-color: #7DD8FF;
    color: #000000;
    font-size: 40px;
    border-radius: 8px;
    border: 2px solid #fff; /* Optional border */
    margin: 50px auto; /* Centering the frame */
    font-weight: bold;
}  
   .kurstext {
    padding-left: 60px;
padding-top: -30px;
font-size: 30px;
   }      
        
   .buttonprobekurs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 60px;
    background-color: #0071F6;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid #fff; /* Optional border */
    margin-left: 580px;
    text-align: center;
   }
